body {
    font-family: "Parkinsans" sans-serif;
    text-align: start;

}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.left-section {
    width: 70%;
    margin-left: 40px;
}
.underline {
  text-decoration: underline;
}

.inner-breadcrumb {
display: flex; 
    justify-content: flex-start; /* Aligns items to the left */
    gap: 15px; /* Adds spacing between the items */
    align-items: center;}

    .right-section {
    border-left: 1px solid gray; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   border-color: cadetblue;
   
    .vertical-layout {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 20px; 
        margin: 20px; 
    }

    .vertical-layout button {
        padding: 10px 10px;
        background-color: cadetblue;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .vertical-layout button:hover {
        background-color: cadetblue; 
    }

    .vertical-layout h3, .vertical-layout h4, .vertical-layout p {
        margin: 0;
        padding: 5px;
    }
   

}
button {
  padding: 10px;
  background-color: cadetblue;
  color: white;
  border-radius: 50%;
  border: none;
    }
    
    .horinzontal container{
      text-align: left;
    }

    button, h3 {
      display: inline-block; 
      vertical-align: middle; 
      margin-right: 10px;
    }

    #body-section {
    display: flex;
}

.inner-cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 20px; 
  margin: auto; 
}

.illustration-selection {
  flex: 1 1 calc(25% - 20px); 
  box-sizing: border-box; 
  text-align: center; 
}
.illustration-selection img {
  max-width: 100%; 
  border-radius: 8px; 
}

.illustration-selection h3,
.illustration-selection p {
  margin: 10px 0; 
}

@media screen and (max-width: 480px)
flex: 1 1 calc(25% - 20px); {
box-sizing: border-box; 
    flex: 1 1 100%;
}

@media screen and (max-width: 480px) 
  .illustration-selection {
      flex: 1 1 100%; 
  }
  